html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.underlineKhuselo1 {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif border-bottom-color: orange;
    color:black;
    border-bottom-width: 5px;
    border-bottom: double;
    border-bottom-color:orange;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-bottom-width: thick;
    border-bottom-style: double;
    transition-duration: 2s;
}
underlineKhuselo1:hover {
    background-color: dimgray;
    border-bottom-width: 0px;
    border-radius: 20px;
    padding :5px;
    border-bottom:hidden;
    transition-duration: 2s;
}

.mybtn1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

mybtn1:hover{
    border-radius:10px;
    background-color:dimgray;
    padding:5px;
    
}
.li {
transition-duration:2s;
}

/*li:hover {
    border-radius: 10px;
    background-color: dimgray;
    padding: 0px;    
    border-bottom-width: 0px;
    border-bottom: hidden;
    transition-duration: 2s;*/


.mybtn2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-bottom-width: medium;
    border-bottom-color: orange;
    
}
mybtn2:hover {
    
}

input:hover {
background-color:orange;
transition-duration:3s;

}
tr:hover {
background-color:orange;
transition-duration:2s;
}

a:hover {
padding:10px;
border-radius:10px;
background-color:dimgray;
transition-duration:1s;


}
.a {
transition-duration:2s;
}
.ul {
/*background-color:dimgray;*/
transition-duration:2s;
}